<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certification</title>
</head>
<body>
    <div>
        <h2>Certification</h2>
        <p>
            I certify that the information given by Mr./Mrs. <strong><%= requestingOfficerName %></strong> is correct and do recommend the request for approval.
        </p>
        <div>
            <div>
                Signature: <strong><img src="/signature.png" alt="Signature"></strong>
            </div>
            <div>
                <p>Date: <strong><%= date %></strong></p>
            </div>
        </div>
    </div>
</body>
</html>
